
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/33938435.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  
 
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 160px;
}
.nav-links{
  flex:1;
  text-align:right;
}
.nav-links  li {
  list-style-type:none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;

}
.nav-links  li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.nav-links  li::after{
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  background: #9c2793;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links  li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
  position: relative;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: white;
}

._2UyJJ-wrapper {
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    justify-content: center;
    max-width: 720px;
    padding: 40px 32px;
    width: 100%;
}


div {
    display: block;
}
._9eNAB-page {
   
    color: #0e101a;
    font-family: Inter,sans-serif;
}
._3qiHD-pageDeprecatedStyle {
    background: #f9faff;
    color: #8189a9;
    font-family: AkkuratPro,sans-serif,Helvetica,Arial;
}
._3qiHD-pageDeprecatedStyle, ._3qiHD-pageDeprecatedStyle h4 {
    font: normal 400 16px/25px
 AkkuratPro,sans-serif;
    letter-spacing: 0;
}
.o9viu-text{
  
    display: inline-block;
    text-decoration: none;
    color: #fff;
    
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
}
.o9viu-text{
    border: 1px solid #4e1796;
    background: #4e1796;
    transition: 1s;
}
._1vpLY-content{
position: center;
left:80%;
margin: 0 auto;
display: grid;
}
._3s8Gi-input{
  padding: 12px 34px;
  top:20px;
  width: 100%;

}

._3CFUF-el
{


  
  width: 100%;
  height: 80%;
  position:static;
  padding: 20px;
}
._3255a-uploadButton{
  width: 90%;
  left: 20%;
}
.file-upload-form{
  width: 20%;
}
._3255a-uploadButton{
  width: 25%;
}



